#tela-login{
    background-color: #f4faff !important;
    margin: 10px auto !important;
    width: 470px !important;
    /*border: 2px solid rgb(201, 201, 0);*/
    border-radius: 5px !important;
    box-shadow: 1px 2px 5px 1px black !important;
}
#nome-logo{
    text-align: center !important;
    display: inline-block !important;
    font-size: 2.3rem !important;
    font-weight: bold;
}
#msg-acesse{
    font-size: 1.5rem !important;
    font-weight: 600;
}
#logoAP{
    height: 80px !important;
    width: 80px !important;
}
#quadro-logo{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 15px !important;
    border-radius: 5px;
}
#sessao-login{
    padding: 15px !important;
}
#msg-login{
    margin: 15px auto 10px auto !important;
    font-weight: 500 !important;
    font-size: 1.38rem;
}
label{
    margin: 15px auto !important;
}
.digitar{
    font-size: 0.9rem !important;
    background-color: #F4E7E7 !important;
    border-radius: 5px !important;
    border: none !important;
    height: 40px !important;
    width: 420px !important;
    padding: 0px 10px !important;
}
#container {
    display: flex !important;
    align-items: center !important;
}

#check {
    background-color: #F4E7E7 !important;
    height: 20px !important;
    width: 20px !important;
    margin: 0 !important;
}

#text-lembrar {
    margin-left: 10px !important;
}

#lembrar-se {
    display: flex !important;
    align-items: center !important;
}

a {
    text-align: right !important;
    text-decoration: none !important;
    color: black !important;
    margin-left: 75px; 
}
#botoes{
    align-items: center;
    text-align: center;
}
#acesso{
    background-color: #f5f82c;
    border: none;
    color: black;
    padding: 10px 38px;
    box-shadow: 1px 1px 5px rgb(66, 66, 66);
}
#acesso:hover{
    background-color: #fbff00;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
}
#registro{
    background-color: #FAFF002E;
    border: none;
    color: black;
    padding: 10px 38px;
    margin-right: 57px;
    box-shadow: 1px 1px 5px rgb(66, 66, 66);
}
#registro:hover{
    background-color: #fbff0065;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
}
p{
    text-align: center;
    margin: 0px !important;
}
.linha-sep{
    margin: 5px;
    color: black;
}
.icones-img{
    height: 50px;
    width: 50px;
}
#ajust-tri {
    background-image: url(../assets/details/triangulo.png);
    position: relative;
    background-color: #ffffff00;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: 120px -20px;
    border-radius: 5px;
  }
  
  #ajust-tri2 {
    background-image: url(../assets/details/triangulo2.png);
    position: relative;
    background-color: #ffffff;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: -350px 20px;
    border-radius: 5px;
  }

#msg-registro{
    margin: 0px auto 10px auto !important;
    font-weight: 500 !important;
    font-size: 1.38rem;
}

#registro-tel-re{
    background-color: #FAFF002E;
    border: none;
    color: black;
    padding: 10px 38px;
    box-shadow: 1px 1px 5px rgb(66, 66, 66);
}
#registro-tel-re:hover{
    background-color: #fbff0065;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
}