body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.left-panel, .right-panel {
    flex: 1;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-panel {
    background-color: #000000;
    color: #fff;
}

.right-panel {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

.form-group {
    margin: 10px 0;
}

label {
    display: block;
    font-weight: 500;
    font-size: 16px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background-color: #4949499c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #000;
}

/* Adicione a media query para tornar a página responsiva */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .left-panel, .right-panel {
        width: 100%;
        padding: 20px;
    }

    .right-panel{
        height: 100%;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        width: 80%;
    }
}
